<%= render "layouts/header" %>
<!-- Header -->
<header class="masthead">
  <div class="container">
      <div class="row justify-content-md-center" >
          <div class="col-lg-8 text-center">
            <div class="intro-text">
              <div class="intro-lead-in">Bienvenidos a:</div>
              <div class="intro-heading">JukiMods</div>
              <a class="btn btn-xl js-scroll-trigger" href="#productos">Quiero saber más</a>
            </div>
          </div>
        </div>
      </div>
</header>
 <div class="container">
    <div class="row justify-content-md-center align-items-center" >
      <div class="col-lg-5 text-center">
        <h4 style="text-transform: none;">Los cubos fabricados por Juki Mods están especialmente diseñados para la competición de alto nivel.
Trabajo única y exclusivamente con los cubos top actuales y solo uso los mejores lubricantes del mercado.</h4>
      </div>
      <div class="col-lg-7 text-center">
        <a class="twitter-timeline" data-height="400" href="https://twitter.com/JukiMods?ref_src=twsrc%5Etfw">Tweets by JukiMods</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
</div>
<%= render "layouts/footer" %>